<%- include('./fragments/header.ejs') %>
    <main>
      <h2>Strona główna</h2>
      <p>Aplikacja dla warsztatu ma zarządzać pracownikami i ich specjalizacjami</p>
    </main>
<%- include('./fragments/footer.ejs') %>