<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css"/>
    <script type="application/javascript" src="/js/validationCommon.js"></script>
    <link rel="shortcut icon" href="#">
    <title>Warsztat</title>
</head>
<body>
<header>
    <h1>Automechanik</h1>
    <img src="/images/icons8-maintenance-100.png" alt="warsztatLogo" />
</header>
<nav>
    <ul>
        <li><a href="/" class="<%= navLocation === 'main' ? 'active' : ''%>">Strona główna</a></li>
        <li><a href="/mechanics" class="<%= navLocation === 'mechanic' ? 'active' : ''%>">Mechanicy</a></li>
        <li><a href="/specs" class="<%= navLocation === 'spec' ? 'active' : ''%>">Specjalizacje</a></li>
        <li><a href="/mechSpec" class="<%= navLocation === 'mechSpec' ? 'active' : ''%>">Mechanik-specjalizacja</a></li>
    </ul>
</nav>